Repository RICE-unige/horus_sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: colcon-build, cpplint-check

.pre-commit-config.yaml:

# Pre-commit configuration for HORUS SDK
# This runs the same checks as CI/CD locally before commits

repos:
  # Basic file checks (exclude generated files)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        exclude: '.*\.(md|rst)$|^horus_ros2_ws/(build|install|log)/'
      - id: end-of-file-fixer
        exclude: '^horus_ros2_ws/(build|install|log)/'
      - id: check-yaml
        exclude: '^horus_ros2_ws/(build|install|log)/'
      - id: check-json
        exclude: '^horus_ros2_ws/(build|install|log)/'
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']

  # Python formatting and linting
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        language_version: python3
        files: \.(py)$

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black"]
        files: \.(py)$

  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        args: ['--max-line-length=99', '--extend-ignore=E203,W503']
        files: \.(py)$

  # MyPy type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
      - id: mypy
        files: ^python/
        args: [--ignore-missing-imports, --no-strict-optional]
        additional_dependencies: [types-requests]

  # C++ formatting and linting (exclude generated files)
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v16.0.6
    hooks:
      - id: clang-format
        files: \.(cpp|hpp|c|h)$
        exclude: '^horus_ros2_ws/(build|install|log)/'
        args: ['-style=Google']

  # ROS2 specific checks (exclude generated files)
  - repo: local
    hooks:
      # Build check (most important - ensures code compiles)
      - id: colcon-build
        name: colcon-build
        entry: bash -c 'cd horus_ros2_ws && source /opt/ros/humble/setup.bash && colcon build --cmake-args -DCMAKE_BUILD_TYPE=Release'
        language: system
        files: ^horus_ros2_ws/src/.*\.(cpp|hpp|py|xml|txt)$
        pass_filenames: false

      # C++ linting with cpplint (source files only)
      - id: cpplint-check
        name: cpplint-check
        entry: bash -c 'cd horus_ros2_ws && find src -name "*.cpp" -o -name "*.hpp" | xargs cpplint --filter=-build/c++11,-whitespace/braces,-readability/braces'
        language: system
        files: ^horus_ros2_ws/src/.*\.(cpp|hpp)$
        pass_filenames: false

🔧 Fix linting issues and add pre-commit hooks
  .pre-commit-config.yaml
  horus_ros2_ws/src/horus_backend/include/horus_backend/backend_node.hpp
  horus_ros2_ws/src/horus_backend/include/horus_backend/plugin_manager.hpp
  horus_ros2_ws/src/horus_backend/include/horus_backend/tcp_server.hpp
  horus_ros2_ws/src/horus_backend/launch/horus_backend.launch.py
  horus_ros2_ws/src/horus_backend/launch/horus_complete_backend.launch.py
  horus_ros2_ws/src/horus_backend/src/backend_node.cpp
  horus_ros2_ws/src/horus_backend/src/main.cpp
  horus_ros2_ws/src/horus_backend/src/plugin_manager.cpp
  horus_ros2_ws/src/horus_backend/src/tcp_server.cpp
Due: colcon-build, cpplint-check

🔧 Fix CI/CD pre-commit failures
  .pre-commit-config.yaml
  horus_ros2_ws/src/horus_backend/include/horus_backend/backend_node.hpp
  horus_ros2_ws/src/horus_backend/include/horus_backend/plugin_manager.hpp
  horus_ros2_ws/src/horus_backend/include/horus_backend/tcp_server.hpp
  horus_ros2_ws/src/horus_backend/launch/horus_backend.launch.py
  horus_ros2_ws/src/horus_backend/launch/horus_complete_backend.launch.py
  horus_ros2_ws/src/horus_backend/src/backend_node.cpp
  horus_ros2_ws/src/horus_backend/src/main.cpp
  horus_ros2_ws/src/horus_backend/src/plugin_manager.cpp
  horus_ros2_ws/src/horus_backend/src/tcp_server.cpp
Due: colcon-build, cpplint-check

🔧 Fix SPDX headers and pre-commit checks
  horus_ros2_ws/src/horus_backend/include/horus_backend/backend_node.hpp
  horus_ros2_ws/src/horus_backend/include/horus_backend/plugin_manager.hpp
  horus_ros2_ws/src/horus_backend/include/horus_backend/tcp_server.hpp
  horus_ros2_ws/src/horus_backend/launch/horus_backend.launch.py
  horus_ros2_ws/src/horus_backend/launch/horus_complete_backend.launch.py
  horus_ros2_ws/src/horus_backend/src/backend_node.cpp
  horus_ros2_ws/src/horus_backend/src/main.cpp
  horus_ros2_ws/src/horus_backend/src/plugin_manager.cpp
  horus_ros2_ws/src/horus_backend/src/tcp_server.cpp
Due: colcon-build, cpplint-check

🔧 Disable ament_copyright check in CMakeLists.txt
  horus_ros2_ws/src/horus_backend/CMakeLists.txt
Due: colcon-build

🔧 Fix Python SDK test failure and remove Test Examples from CI
  .github/workflows/ci.yml
Due: none

🔧 Add proper Python SDK tests and pre-commit pytest hook
  .pre-commit-config.yaml
  python/tests/test_robot.py
Due: none

🔧 Fix Python SDK test path and flake8 unused import errors
  python/tests/test_robot.py
Due: none

🔧 Remove integration tests that hang waiting for robot hardware
  .github/workflows/ci.yml
Due: none

🔧 Fix README badges - add proper ROS2 Build status badge
  README.md
Due: none

🎨 Add dark cyberpunk theme and modern architecture diagram
  docs/docs/api/index.md
  docs/docs/assets/images/imgs/horus_logo.jpg
  docs/docs/assets/images/imgs/rice_lab_logo.png
  docs/docs/assets/images/imgs/unige.png
  docs/docs/examples/index.md
  docs/docs/getting-started/first-robot.md
  docs/docs/getting-started/index.md
  docs/docs/getting-started/installation.md
  docs/docs/getting-started/quickstart.md
  docs/docs/index.md
  docs/docs/user-guide/index.md
  docs/gen_ref_pages.py
  docs/imgs/horus_logo.jpg
  docs/imgs/rice_lab_logo.png
  docs/imgs/unige.png
  docs/mkdocs.yml
Due: none

🔧 Add documentation badge to README
  README.md
Due: none

🔧 Fix documentation build errors and broken links
  docs/docs/index.md
  docs/docs/user-guide/index.md
  docs/mkdocs.yml
Due: none

🔧 Fix deprecated GitHub Actions versions and improve pre-commit validation
  .github/workflows/docs.yml
  .pre-commit-config.yaml
Due: none

feat: streamline repo and refresh docs
  .pre-commit-config.yaml
  README.md
  TESTING.md
  examples/README.md
  examples/basic_initialization.py
  examples/carter_robot_setup.py
  examples/color_assignment_path_planning.py
  examples/color_import_test.py
  examples/live_robot_integration.py
  examples/quick_test.py
  examples/robot_creation.py
  examples/robot_import_test.py
  examples/robot_sensors_dataviz.py
  examples/run_carter_with_registration.sh
  examples/run_example.sh
  examples/run_live_robot_integration.sh
  examples/sensor_import_test.py
  examples/setup_example_env.sh
  examples/test_unity_connection.py
  examples/unity_connection_simulator.py
  pyproject.toml
  python/horus/__init__.py
  python/horus/bridge/robot_registry.py
  python/horus/client.py
  python/horus/core/__init__.py
  python/horus/core/event_bus.py
  python/horus/core/topic_map.py
  python/horus/robot/robot.py
  python/horus/utils/rosout_monitor.py
  python/horus/utils/topic_monitor.py
  python/horus/utils/topic_status.py
  python/pyproject.toml
  python/setup.py
  python/tests/test_topic_status.py
  python/tests/test_topic_status_board.py
  python/tests/test_topic_status_robot_tf.py
  test_horus.py
Due: none

chore: remove dependabot
  .github/dependabot.yml
Due: none

Added core Unity Bridge with protocol handler and connection manager
  horus_ros2_ws/src/horus_unity_bridge/CMakeLists.txt
  horus_ros2_ws/src/horus_unity_bridge/include/horus_unity_bridge/connection_manager.hpp
  horus_ros2_ws/src/horus_unity_bridge/include/horus_unity_bridge/protocol_handler.hpp
  horus_ros2_ws/src/horus_unity_bridge/package.xml
  horus_ros2_ws/src/horus_unity_bridge/src/connection_manager.cpp
  horus_ros2_ws/src/horus_unity_bridge/src/protocol_handler.cpp
Due: colcon-build, cpplint-check

Added topic manager with dynamic ROS2 message type support
  horus_ros2_ws/src/horus_unity_bridge/include/horus_unity_bridge/topic_manager.hpp
  horus_ros2_ws/src/horus_unity_bridge/src/topic_manager.cpp
Due: colcon-build, cpplint-check

Added service manager with CDR header normalization for Unity compatibility
  horus_ros2_ws/src/horus_unity_bridge/include/horus_unity_bridge/service_manager.hpp
  horus_ros2_ws/src/horus_unity_bridge/src/service_manager.cpp
Due: colcon-build, cpplint-check

Added message router and Unity Bridge main node with statistics
  horus_ros2_ws/src/horus_unity_bridge/include/horus_unity_bridge/message_router.hpp
  horus_ros2_ws/src/horus_unity_bridge/include/horus_unity_bridge/unity_bridge_node.hpp
  horus_ros2_ws/src/horus_unity_bridge/src/main.cpp
  horus_ros2_ws/src/horus_unity_bridge/src/message_router.cpp
  horus_ros2_ws/src/horus_unity_bridge/src/unity_bridge_node.cpp
Due: colcon-build, cpplint-check

Added bridge configuration and ROS2 launch file
  horus_ros2_ws/src/horus_unity_bridge/config/bridge_config.yaml
  horus_ros2_ws/src/horus_unity_bridge/launch/unity_bridge.launch.py
Due: colcon-build

Added Unity Bridge README documentation
  horus_ros2_ws/src/horus_unity_bridge/README.md
Due: none

Added Unity Bridge test package with publishers, services, and simulator
  horus_ros2_ws/src/horus_unity_bridge_test/CMakeLists.txt
  horus_ros2_ws/src/horus_unity_bridge_test/package.xml
  horus_ros2_ws/src/horus_unity_bridge_test/src/test_publisher.cpp
  horus_ros2_ws/src/horus_unity_bridge_test/src/test_service_client.cpp
  horus_ros2_ws/src/horus_unity_bridge_test/src/test_service_server.cpp
  horus_ros2_ws/src/horus_unity_bridge_test/src/unity_client_simulator.cpp
Due: colcon-build, cpplint-check

feat: added WebRTC manager with hardware encoding and GStreamer pipeline
  horus_ros2_ws/src/horus_unity_bridge/include/horus_unity_bridge/webrtc_manager.hpp
  horus_ros2_ws/src/horus_unity_bridge/src/webrtc_manager.cpp
Due: colcon-build, cpplint-check

feat: integrated WebRTC with async frame processing and image format support
  horus_ros2_ws/src/horus_unity_bridge/include/horus_unity_bridge/message_router.hpp
  horus_ros2_ws/src/horus_unity_bridge/src/message_router.cpp
Due: colcon-build, cpplint-check

build: added optional WebRTC dependencies with GStreamer, OpenCV, and libdatachannel
  horus_ros2_ws/src/horus_unity_bridge/CMakeLists.txt
  horus_ros2_ws/src/horus_unity_bridge/package.xml
Due: colcon-build

docs: added WebRTC streaming configuration and documentation
  horus_ros2_ws/src/horus_unity_bridge/README.md
  horus_ros2_ws/src/horus_unity_bridge/config/bridge_config.yaml
Due: none

test: added WebRTC signaling test support to Unity simulator
  horus_ros2_ws/src/horus_unity_bridge_test/src/unity_client_simulator.cpp
Due: colcon-build, cpplint-check

Refactored service manager to use generic ROS2 clients
  horus_ros2_ws/src/horus_unity_bridge/include/horus_unity_bridge/service_manager.hpp
  horus_ros2_ws/src/horus_unity_bridge/src/service_manager.cpp
Due: colcon-build, cpplint-check

Migrated robot registration from services to topic-based system
  python/horus/bridge/robot_registry.py
Due: none

Added CLI dashboard utilities for connection visualization
  python/horus/utils/cli.py
Due: none

Added LaserScan visualization configuration options
  python/horus/sensors/sensors.py
Due: none

Enabled auto-display of branding on module import
  python/horus/__init__.py
  python/horus/utils/branding.py
Due: none

Added SDK registration example
  python/examples/sdk_registration_demo.py
Due: none

Enabled debug logging in bridge configuration
  horus_ros2_ws/src/horus_unity_bridge/config/bridge_config.yaml
Due: none

python(cli): fixed Rich Live double-render causing duplicate dashboard header
  python/horus/utils/cli.py
Due: none

python(bridge): added auto-start for Horus bridge and live registration dashboard
  python/horus/bridge/robot_registry.py
Due: none

python(utils): tightened requirements checks and backend messages
  python/horus/utils/backend_manager.py
  python/horus/utils/requirements_checker.py
Due: none

cpp: added core types and Robot/Sensor APIs
  cpp/include/horus/core/types.hpp
  cpp/include/horus/robot/robot.hpp
  cpp/include/horus/robot/sensors.hpp
  cpp/src/core/types.cpp
Due: none
