Repository RICE-unige/horus_sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament-cpplint, ament-flake8, ament-uncrustify, ament-lint-cmake, ament-xmllint, colcon-build, colcon-test, pytest-sdk

ament-cpplint:
  name: ament-cpplint
  entry: bash -c 'cd horus_ros2_ws && source /opt/ros/humble/setup.bash && ament_cpplint src/'
  language: system
  pass_filenames: false

ament-flake8:
  name: ament-flake8
  entry: bash -c 'cd horus_ros2_ws && source /opt/ros/humble/setup.bash && ament_flake8 src/horus_backend/ src/horus_interfaces/'
  language: system
  pass_filenames: false

ament-uncrustify:
  name: ament-uncrustify
  entry: bash -c 'cd horus_ros2_ws && source /opt/ros/humble/setup.bash && ament_uncrustify --reformat'
  language: system
  pass_filenames: false

ament-lint-cmake:
  name: ament-lint-cmake
  entry: bash -c 'cd horus_ros2_ws && source /opt/ros/humble/setup.bash && ament_lint_cmake'
  language: system
  pass_filenames: false

ament-xmllint:
  name: ament-xmllint
  entry: bash -c 'cd horus_ros2_ws && source /opt/ros/humble/setup.bash && ament_xmllint'
  language: system
  pass_filenames: false

colcon-build:
  name: colcon-build
  entry: bash -c 'cd horus_ros2_ws && source /opt/ros/humble/setup.bash && colcon build --cmake-args -DCMAKE_BUILD_TYPE=Release'
  language: system
  pass_filenames: false

colcon-test:
  name: colcon-test
  entry: bash -c 'cd horus_ros2_ws && source install/setup.bash && colcon test --packages-select horus_backend horus_interfaces'
  language: system
  pass_filenames: false

pytest-sdk:
  name: pytest-sdk
  entry: bash -c 'cd python && python3 -m pytest tests/ -v --tb=short'
  language: system
  pass_filenames: false

cpp: updated EventBus/branding and added example; refined CMake
  cpp/CMakeLists.txt
  cpp/examples/CMakeLists.txt
  cpp/examples/README.md
  cpp/examples/sdk_registration_demo.cpp
  cpp/include/horus/core/event_bus.hpp
  cpp/include/horus/utils/branding.hpp
  cpp/src/core/event_bus.cpp
  cpp/src/utils/branding.cpp
Due: none

cpp(build): added Conan recipe, vcpkg port and CMake package config
  cpp/Config.cmake.in
  cpp/conanfile.py
  cpp/vcpkg.json
Due: none

docs(cpp): added examples README and expanded quickstart
  cpp/README.md
Due: none

rust: added HORUS Rust SDK with core, color, and examples
  rust/Cargo.toml
  rust/README.md
  rust/examples/README.md
  rust/examples/sdk_registration_demo.rs
  rust/src/bridge.rs
  rust/src/client.rs
  rust/src/color.rs
  rust/src/core/event_bus.rs
  rust/src/core/mod.rs
  rust/src/core/topic_map.rs
  rust/src/core/types.rs
  rust/src/dataviz.rs
  rust/src/lib.rs
  rust/src/robot.rs
  rust/src/sensors.rs
  rust/src/utils/branding.rs
  rust/src/utils/mod.rs
Due: none

ci: updated CI/release workflows for multi-language SDKs
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

repo: updated README and added packaging manifest
  MANIFEST.in
  README.md
Due: none

python(bridge): removed ROS1 support
  python/horus/bridge/ros1.py
Due: pytest-sdk

Added Unity visualization demo example
  examples/demo_unity_viz.py
Due: none

feat(examples): added keep-alive loop to registration demo
  python/examples/sdk_registration_demo.py
Due: pytest-sdk

added keep-alive monitoring to robot registration with automatic reconnection handling
  python/examples/sdk_registration_demo.py
  python/horus/bridge/robot_registry.py
  python/horus/robot/robot.py
Due: pytest-sdk

chore: disabled automatic CI runs
  .github/workflows/ci.yml
Due: none

chore: updated Unity bridge wording in SDK tooling
  python/horus/client.py
  python/horus/utils/backend_manager.py
  python/horus/utils/requirements_checker.py
  python/horus/utils/topic_monitor.py
  python/horus/utils/unity_monitor.py
Due: pytest-sdk

test: added e2e registration smoke check
  README.md
  python/examples/e2e_registration_check.py
Due: pytest-sdk

fix: reduced false disconnect alerts
  python/horus/bridge/robot_registry.py
  python/horus/utils/requirements_checker.py
  python/horus/utils/unity_monitor.py
Due: pytest-sdk

fix: tightened disconnect detection
  python/horus/bridge/robot_registry.py
  python/horus/utils/unity_monitor.py
Due: pytest-sdk

feat: added robot dimensions to registration payload
  python/horus/__init__.py
  python/horus/bridge/robot_registry.py
  python/horus/robot/__init__.py
  python/horus/robot/robot.py
Due: pytest-sdk

feat: added fake TF publisher example
  python/examples/fake_tf_publisher.py
Due: pytest-sdk

chore: updated SDK registration demo for dimensions
  python/examples/sdk_registration_demo.py
Due: pytest-sdk

feat: added multi-robot registration workflow with shared dashboard
  python/horus/__init__.py
  python/horus/bridge/robot_registry.py
  python/horus/robot/__init__.py
Due: pytest-sdk

feat: updated dashboard topic activity with state tracking
  python/horus/utils/cli.py
  python/horus/utils/topic_monitor.py
  python/horus/utils/topic_status.py
Due: pytest-sdk

fix: restored /tf usage for robot transform visualization
  python/horus/robot/robot.py
Due: pytest-sdk

feat: expanded fake tf publisher for multi-robot motion and static frames
  python/examples/fake_tf_publisher.py
Due: pytest-sdk

feat: updated sdk registration demo for multi-robot configs
  python/examples/sdk_registration_demo.py
Due: pytest-sdk

fix: used registry singleton in e2e registration check
  python/examples/e2e_registration_check.py
Due: pytest-sdk

feat: updated dashboard layout and topic monitor
  python/horus/utils/cli.py
  python/horus/utils/topic_monitor.py
Due: pytest-sdk

fix: updated registry dashboard integration and registration flow
  python/horus/bridge/robot_registry.py
Due: pytest-sdk

feat: updated sdk registration demo with per-robot camera config and 10-robot defaults
  python/examples/sdk_registration_demo.py
Due: pytest-sdk

feat: added multi-robot fake tf and camera stream simulation
  python/examples/fake_tf_publisher.py
Due: pytest-sdk

fix: updated robot registry reconnect handling to re-register after app restarts
  python/horus/bridge/robot_registry.py
Due: pytest-sdk

[WIP-BUGGY] feat: added camera streaming_type and WebRTC metadata fields to sdk camera model
  python/horus/sensors/sensors.py
Due: pytest-sdk

[WIP-BUGGY] feat: added WebRTC camera registration options to sdk demo cli
  python/examples/sdk_registration_demo.py
Due: pytest-sdk

[WIP-BUGGY] refactor: updated robot registry for WebRTC camera config and re-registration flow
  python/horus/bridge/robot_registry.py
Due: pytest-sdk

[WIP-BUGGY] feat: updated bridge webrtc manager with ICE diagnostics and encoder fallback handling
  horus_ros2_ws/src/horus_unity_bridge/include/horus_unity_bridge/webrtc_manager.hpp
  horus_ros2_ws/src/horus_unity_bridge/src/webrtc_manager.cpp
Due: ament-cpplint, ament-uncrustify, colcon-build, colcon-test

[WIP-BUGGY] docs: updated bridge build instructions and WebRTC prerequisites
  README.md
Due: none

feat(examples): updated WebRTC camera demo defaults to 320x180+ resolution presets
  python/examples/fake_tf_publisher.py
  python/examples/sdk_registration_demo.py
Due: pytest-sdk

docs(sdk): updated README with WebRTC example defaults and setup guidance
  README.md
Due: none

chore(repo): removed stale horus_ros2_ws bridge sources after migration to horus_ros2
  horus_ros2_ws/src/horus_unity_bridge/include/horus_unity_bridge/webrtc_manager.hpp
  horus_ros2_ws/src/horus_unity_bridge/src/webrtc_manager.cpp
Due: ament-cpplint, ament-uncrustify, colcon-build, colcon-test

feat(camera): added minimap/teleop/startup transport fields to camera sensor and sdk demo
  python/examples/sdk_registration_demo.py
  python/horus/sensors/sensors.py
  python/tests/test_camera_transport_profiles.py
Due: pytest-sdk

Path conditions:
  ament-cpplint: any of: ^horus_ros2_ws/src/.*\.(cpp|hpp)$
  ament-flake8: any of: ^horus_ros2_ws/src/(horus_backend|horus_interfaces)/.*\.(py)$
  ament-uncrustify: any of: ^horus_ros2_ws/src/.*\.(cpp|hpp)$
  ament-lint-cmake: any of: ^horus_ros2_ws/CMakeLists\.txt$
  ament-xmllint: any of: ^horus_ros2_ws/.*package\.xml$
  colcon-build: any of: ^horus_ros2_ws/src/.*\.(cpp|hpp|py|xml|txt)$
  colcon-test: any of: ^horus_ros2_ws/src/.*\.(cpp|hpp|py|xml|txt)$
  pytest-sdk: any of: ^python/.*\.(py)$
